@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  box-sizing: border-box;
  padding: 0px;
  font-family: "Playfair", "sans-serif";
}

.page {
  display: flex;
  justify-content: center;
}

.content {
  border: 1px red solid;
  margin-top: 50px;
  padding: 5px;
  width: 460px;
  height: 440px;
}

.content-title {
  font-style: italic;
  font-size: 40px;
  font-weight: normal;
}

.box-grid {
  padding: 5px;
  margin-top: 5px;
  border: solid 2px green;
  max-width: 100%;
  max-height: 200px;
  display: grid;
  grid-template-columns: repeat(25, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  align-items: center;
}

.particle {
  /* font-weight: bold; */
  font-size: 1.75rem;
  color: blue;
  font-family: sans-serif;
  cursor: pointer;
}
